@font-face {
  font-family: "Milky Nice";
  src: url("./MilkyNice.ttf") format("truetype");
}

body {
  background-color: #d8efff;
  margin: 0;
  padding: 0;
  font-family: "Milky Nice", Arial, sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #b9d6f2;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 6rem;
  color: #0070f3;
}

nav {
  background-color: #0070f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.contract-address {
  background-color: #d8efff;
  text-align: center;
  padding: 20px 0;
}

.focus-text-1 {
  color: #fff;
  text-shadow: -4px 3px 0 #000;
  -webkit-text-stroke-color: #343230;
  -webkit-text-stroke-width: 1px;
}

.focus-text-2 {
  color: #0070f3;
  text-shadow: -4px 3px 0 #000;
  -webkit-text-stroke-color: #343230;
  -webkit-text-stroke-width: 1px;
}

.contract-address input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.contract-address button {
  padding: 10px;
  font-size: 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.section {
  /* padding: 50px 0; */
  text-align: center;
}

.section h2 {
  font-size: 36px;
  color: #0070f3;
}

.roost-101,
.tokenomics {
  background-color: #e1f3ff;
}

.roost-101 .steps,
.tokenomics .charts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.step,
.chart {
  background-color: white;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.faq {
  background-color: #b9d6f2;
  padding: 50px 0;
}

.faq .question {
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #d8efff;
  text-align: center;
  padding: 20px 0;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #0070f3;
}

footer a:hover {
  text-decoration: underline;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #0070f3;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  border: 5px solid #000;
  border-right: 0;
  border-left: 0;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bigger-font {
  font-size: 2rem;
}

.animated-image {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  header,
  .contract-address,
  .section {
    padding: 10px;
  }
  .roost-101 {
    padding: 0;
  }
  header h1 {
    font-size: 4rem;
  }
  .nav,
  .logo {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav-links a {
    margin: 5px 0;
  }

  .contract-address input {
    width: 80%;
  }

  .step,
  .chart {
    width: 80%;
  }
  .img-flex {
    max-width: 200px;
  }
}
.snowflake {
  position: fixed;
  top: 0;
  z-index: 9999;
  color: white;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
button {
  padding: 15px 30px;
  font-size: 20px;
  font-family: "Milky Nice", Arial, sans-serif;
  background-color: #0070f3;
  color: white;
  border: 2px solid #343230;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: -4px 4px 0 #000;
}

button:hover {
  background-color: #005bb5;
  transform: translateY(-5px);
}

button:active {
  background-color: #004494;
  transform: translateY(0);
}
.logo-text {
  font-size: 2rem;
}
